<a href="https://colab.research.google.com/github/istrelov/python_start/blob/main/seminar10_hw.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Задание 44
В ячейке ниже представлен код генерирующий DataFrame, которая состоит всего из 1 столбца. Ваша задача перевести его в one hot вид. Сможете ли вы это сделать без get_dummies?

In [7]:
import pandas as pd
import random
lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)
data = pd.DataFrame({'whoAmI': lst})
data.head(int(data.count()))

   whoAmI
0   robot
1   robot
2   human
3   robot
4   human
5   robot
6   human
7   human
8   robot
9   robot
10  robot
11  human
12  human
13  robot
14  robot
15  human
16  human
17  human
18  human
19  robot

In [4]:
pd.get_dummies(data)

    whoAmI_human  whoAmI_robot
0              0             1
1              1             0
2              0             1
3              0             1
4              0             1
5              0             1
6              0             1
7              1             0
8              0             1
9              1             0
10             0             1
11             0             1
12             1             0
13             1             0
14             1             0
15             1             0
16             1             0
17             1             0
18             1             0
19             0             1

Как я понял задачу, нужно преобразовать DataFeame в такой же вид, как он получается при использовании get_dummies. Для этого я воспользуюсь функцией loc - создам 2 новые колонки с условиями, а потом удалю первую колонку

In [8]:
data.insert(1, 'whoAmI_human', 0)
data.insert(1, 'whoAmI_robot', 0)
data.loc[data['whoAmI']=='human', 'whoAmI_human'] = 1
data.loc[data['whoAmI']=='robot', 'whoAmI_robot'] = 1
del data[data.columns[0]]
data.head(int(data.count()[0]))

    whoAmI_robot  whoAmI_human
0              1             0
1              1             0
2              0             1
3              1             0
4              0             1
5              1             0
6              0             1
7              0             1
8              1             0
9              1             0
10             1             0
11             0             1
12             0             1
13             1             0
14             1             0
15             0             1
16             0             1
17             0             1
18             0             1
19             1             0